@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Escola Superior de Tecnologia e Gestão de Águeda<br />
    Rua Comandante Pinho e Freitas, nº 28<br />
    3750 – 127 Águeda<br />
    <abbr title="Phone">P:</abbr>
    (+351) 234 611 500
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:estga.geral@ua.pt"> estga.geral@ua.pt</a><br />
</address>