
@model IEnumerable<CineChat.Models.Movie>
    @{ViewBag.Title = "CineChat";
}



<div class="row">
    <div>
         
    </div>
  
    <div class="panel panel-default">
        <div class="panel-body">
            <h1>Recently Released</h1>
            <img src="/Content/Images/image1.jpg" class="img-thumbnail img-responsive" width="140" height="140">
            <img src="/Content/Images/image3.jpg" class="img-thumbnail" width="140" height="140">
            <img src="/Content/Images/Joker.jpg" class="img-thumbnail" width="140" height="140">
        </div>
    </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <h1>Top Rated</h1>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="@Html.DisplayFor(modelItem => item.poster)">
                    </td>
                </tr>
            }
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <h1>Most Viewed</h1>
            <img src="/Content/Images/image1.jpg" class="img-thumbnail img-responsive" width="140" height="140">
            <img src="/Content/Images/image2.jpg" class="img-thumbnail" width="140" height="140">
            <img src="/Content/Images/Joker.jpg" class="img-thumbnail" width="140" height="140">
        </div>
    </div>
    
</div>