@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="well text-center">
    <h1 class="text-left">Avatar (2009)</h1>
    <hr>
    <div class="panel panel-default ">
        <div class="panel-body ">
            <div class="col-sm-4">
                <img src="~/Content/Images/Avatar.jpg" class="img-thumbnail  pull-left img-responsive ">
            </div>

            <div class="col-sm-8">
                <table class=" pull-right">
                    <thead>
                        <tr>
                            <th class="top-left">Title:</th>
                            <th class="text-left">Avatar (2009)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-left">Director:</td>
                            <td class="text-left">James Cameron</td>
                        </tr>

                        <tr>
                            <td class="text-left">Realeased: </td>
                            <td class="text-left">10 December 2009 (UK)</td>
                        </tr>

                        <tr>
                            <td class="text-left">Writer:</td>
                            <td class="text-left">James Cameron</td>
                        </tr>



                        <tr>
                            <td class="top-left">Description: </td>
                            <td class="text-left h4">
                                A paraplegic marine dispatched to the moon Pandora on a unique mission becomes torn between following his orders and protecting the world he feels is his home.

                            </td>

                        </tr>
                        <tr>
                                
                            <td class="pull-left">
                                <span class="glyphicon glyphicon-star h5"></span>
                                <span class="glyphicon glyphicon-star h5"></span>
                                <span class="glyphicon glyphicon-star h5"></span>
                                <span class="glyphicon glyphicon-star h5"></span>
                                <span class="glyphicon glyphicon-star h5"></span>

                            </td>
                            <td class="text-left h4">
                                <button type="button" class="btn btn-primary btn-md  pull-right h4">
                                    Like

                                    <span class="glyphicon glyphicon-thumbs-up " aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                    
                    
                    </tbody>
                </table>




                <button type="button" class="btn btn-primary btn-block h4">
                    Chat

                    <span class="glyphicon glyphicon-arrow-down"></span>
                </button>
            </div>


        </div>


    </div>
</div>

