@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron text-center">
    <h1>Search Movies</h1>
    <hr>
    <div class="panel panel-default ">
        <div class="panel-body ">
            <div class="col-sm-3">
                <img src="/Content/Images/TheAmazingSpiderMan.jpg" class="img-thumbnail  pull-left img-responsive ">
            </div>
            <div class="col-sm-9">
                <table class=" pull-right">
                    <thead>
                        <tr>
                            <th class="top-left">Title:</th>
                            <th class="text-left">The Amazing Spider-Man(2012)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-left">Director:</td>
                            <td class="text-left">Marc Webb</td>
                        </tr>
                        <tr>
                            <td class="top-left">Description: </td>
                            <td class="text-left h4">
                                After Peter Parker is bitten by a genetically altered spider, he gains newfound, spider-like powers and ventures out to solve the mystery of his parent's mysterious death.

                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-sm-3">
                <img src="/Content/Images/Avatar.jpg" class="img-thumbnail  img-responsive pull-left">
            </div>
            <div class="col-sm-9">
                <table class=" pull-right">
                    <thead>
                        <tr>
                            <th class="top-left">Title:</th>
                            <th class="text-left">Avatar (2009)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-left">Director:</td>
                            <td class="text-left">James Cameron</td>
                        </tr>
                        <tr>
                            <td class="top-left">Description: </td>
                            <td class="text-left h4">
                                A paraplegic marine dispatched to the moon Pandora on a unique mission becomes torn between following his orders and protecting the world he feels is his home.

                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-sm-3">
                <img src="/Content/Images/Joker.jpg" class="img-thumbnail  pull-left img-responsive">
            </div>
            <div class="col-sm-9">
                <table class=" pull-right">
                    <thead>
                        <tr>
                            <th class="top-left">Title:</th>
                            <th class="text-left">The Dark Knight(2008)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-left">Director:</td>
                            <td class="text-left">Christopher Nolan</td>
                        </tr>
                        <tr>
                            <td class="top-left">Description: </td>
                            <td class="text-left h4">
                                When the menace known as the Joker wreaks havoc and chaos on the people of Gotham, the caped crusader must come to terms with one of the greatest psychological tests of his ability to fight injustice.

                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-sm-3">
                <img src="/Content/Images/Limitless.jpg" class="img-thumbnail  pull-left img-responsive">
            </div>
            <div class="col-sm-9">
                <table class=" pull-right">
                    <thead>
                        <tr>
                            <th class="top-left">Title:</th>
                            <th class="text-left">Limitless (2011)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-left">Director:</td>
                            <td class="text-left">Neil Burger</td>
                        </tr>
                        <tr>
                            <td class="top-left">Description: </td>
                            <td class="text-left h4">With the help of a mysterious pill that enables the user to access 100 percent of his brain abilities, a struggling writer becomes a financial wizard, but it also puts him in a new world with lots of dangers.</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>