@model IEnumerable<CineChat.Models.Movie>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <h1>Top Rated Cine Chat</h1>


            @foreach (var item in Model)
            {

                <img src="@Html.DisplayFor(modelItem => item.poster)" width="200">


            }



        </div>
    </div>
</div>

